.pg16 {
    width: 100%;
    height: 100%;
    background-image: url(/src/assets/images/svg/money.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(236, 232, 232);
    padding: 500px;
    display: flex;

}


