.page9 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.WebForgetPassword {
  width: 100%;
  height: auto;
}

.right-side-WebForgetPassword {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ResetPassword {
  font-size: 20px;
  font-weight: 500;
}

.PasswordChain {
  height: 13px;
}

.EnterEmailAddressReset {
  margin-bottom: 20px;
  margin-top: 80px;
  border-radius: 5px;
  font-weight: 500;
}

.TextInput3 {
  width: 20em;
  height: 6vh;
  border-radius: 10px;
  margin-bottom: 15px;
  border-width: 1px;
  border-color: rgb(201, 197, 197);
  padding-left: 15px;
  color: rgb(201, 197, 197);
  font-size: 20px;
  border-top-color: rgb(201, 197, 197);
}

.next-button {
  width: 20em;
  height: 40px;
  font-size: medium;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #55229e;
  color: white;
  font-weight: 500;
}

.Cancel {
  padding-top: 12px;
  padding-left: 40%;
  font-weight: 500;
}

/* Modal css */
.modalOverlay {
  width: 50%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}
.modalWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent-card {
  width: 80%;
  height: 123.65px;
  background: #ffffff;
  border-radius: 18.35px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modalContent-card p {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}

.left-side-WebForgetPassword {
  /* width: 50%; */
  height: 100vh;
  background: url(/src/assets/images/svg/webforegetpasswordpage.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
