.page12{
    display: grid;
    grid-template-columns: 1fr 1fr;  
  }
  .Webotp3{
    width: 100%;
    height: auto;
  }

  .PasswordChainThree{
    height: 13px;
    margin-top: 350px;
    
  }
  .OTP-number2{
    font-weight: 550;
    margin-top: 55px;
    font-size: 27px;
  }
  
  .four-boxestwo{
    width: 15%;
    height: 55px;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: #55229E; 
    border-color: rgb(199, 192, 192);
    border-style: solid;
  }
  
  .boxestwo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      margin-top: 40px;    
      margin-bottom: 50px;
      margin-left: 190px;
  }

 
  .continue-button2{
    width: 57%;
  height: 7vh;
  border-radius: 10px;
  background-color: #55229e;
  border-style: none;
  color: white;
  /* margin-bottom: 40px; */
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  
  }
  .Cancel1{
    padding-top: 12px;
    padding-left: 50%;
    font-weight: 500;
  }
  
  